textarea.form-control, input[type=text],
input[type=email] {
  margin-bottom: 25px;
  transition: background 0.3s;
}
textarea.form-control:focus, input[type=text]:focus,
input[type=email]:focus {
  background: #ccc;
}

input[type=text],
input[type=email] {
  padding: 25px 15px;
}

textarea.form-control {
  height: 100px;
}